.bodyContainer {
  margin: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  /* border: 1px solid rgba(111, 65, 210, 0.4); */
}

.navBar {
  gap: 12px;
  transition: all ease-in-out 0.5s;
  padding: 6px;
  border-radius: 0 15px;
  background: rgba(255, 255, 255, 0.1);
}

.menuList {
  padding: 5px;
  cursor: pointer;
  color: white;
  transition: all ease-in-out 0.1s;
}
.menuList:hover {
  color: rgba(170, 137, 242, 1);
  filter: drop-shadow(0 0 0.8px rgba(170, 137, 242, 1));
}

.selectedTitle {
  margin: 10px;
  font-weight: bolder;
}

.underline-first-two::first-letter {
  text-decoration: underline;
}

.container {
  padding: 25px;
  transition: all ease-in-out 0.5s;
}

@keyframes grow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
