.headerContainer {
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.24);
  display: flex;
  align-items: center;
}

.image {
  cursor: pointer;
  padding: 16px;
  height: 95px;
  width: 95px;
  margin-right: 20px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.3) 50%,
    transparent
  );
  background-size: 200% 200%;
  animation: rotateBackground 5s linear infinite;
  transition: all 0.2s ease-in-out;
}

.image:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes rotateBackground {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
